* {
    font-family: "Poppins";
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

h2 {
    padding-top: 95px;
    font-size: 50px;
    font-weight: bold;
}

.w-100 {
    max-height: 1100px;
    }

    .communication {
        background-color:#F22B29;
        color: white;
        text-align: center;
        padding-bottom: 150px;
        margin-bottom: 200px;
    }

.phone_image {
    height: 145px;
    width: 145px;
}

.whatsapp_image {
   height: 145px;
   width: 145px;
}

.webapp_image {
    height: 145px;
    width: 145px;
}

.image_text {
    padding-top: 100px;
}

.services {
    text-align: center;
}

.four_grid {
    max-height: 800px;
    max-width: 800px;
}



/* contact section */

.container {
padding-right: 120px;
padding-left: 120px;
text-align: left;
}

.container h5 {
    font-size: 61px;
    font-weight: 600;
    padding-bottom: 125px;
}

.big-box {
    font-size: 26px;
    line-height: 45px;
}

.big-box p {
    margin: 0px;
}

.subtitle {
font-size: 28px;
}

.form-input {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
    height: 50px;
}

.form-text-area {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-width: 2px;
    margin-bottom: 30px;
}


.form-label {
    padding-top: 32px;
    font-size: 26px;
    color: black;
    font-weight: 400;
}

.form-button {
    width: 96%;
    background-color: black;
    color: white;
    height: 80px;
    font-size: 27px;
    border: none;
    padding: 0px;
    margin-left: 15px;
}

.contact {
    margin-bottom: 142px;
    margin-top: 150px;
}


/* map */
.mapouter {
    position: relative;
    text-align: right;
    height: 445px;
    width: 2500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 445px;
    width: 100%;}
    

/* footer */

.page-footer {
    background-color: #E2E2E2;
    padding-top: 125px;
    padding-bottom: 65px;
    font-size: 24px;
    margin-top: 105px;
}

.text-uppercase-one {
    text-align: right;
}

.text-uppercase-two {
    text-align: left;
}

.links {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.links a {
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.links a:hover {
    color: #13ADC6;
    text-decoration: none;
}


.rights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 120px;
}
